
#imageOne{
    width: 400px;
    height: 400px;
}

#imageTwo{
    width: 400px;
    height: 400px;
}

#imageThree{
   
    width: 400px;
    height: 400px;
}

#imageFour{
   
    width: 400px;
    height: auto;
}

#lottieLanding{
    width: 400px;
    height: 400px;
    padding: 0;
    
}
#logo-tar{
width: 212.97px;
height: 73px;
align-items: center;
} 