
.col-md-6{
    
   // border: .5px solid red;
    text-align: center;
}
section{
   // border: .5px solid blue;
    width: 100%;
      
}


.div-imagen-num{
    width: 100%;
    text-align: center;
}

.div-card-text{
    width: 100%;
    height: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
 
}
