
.col-md-6{
    
   // border: .5px solid red;
    text-align: center;
}
.section-one{
   // border: .5px solid blue;
    padding: 64px; 
    background: aqua; 
    display: flex;
}

.section-two{
    display: flex;
    // border: .5px solid blue;
     padding: 0px; 
     background: red; 
     display: flex;
 }

 .section-three{
    // border: .5px solid blue;
     padding: 0px; 
     background: violet; 
     display: flex;
 }

.section-four{
    width: 100%;
    padding: 0px; 

 }



.div-imagen-num{
    width: 100%;
    text-align: center;
}

.div-card-text{
    width: 100%;
    height: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
 
}

@media screen and (max-width: 768px) {
.section-two{
    display: flex;
    flex-direction: column-reverse;
    // border: .5px solid blue;
     padding: 0px; 
     background: red; 
     display: flex;
 }
}