.link-font {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 27px;
    /* identical to box height, or 169% */
    /* Gray-scale/gray-700 */
    color: #616161;
  }

.link-item-separation{

}