.container-column-layout{
    display: flex;
justify-items: center;
justify-content: center;
align-items: center;
flex-direction: column;
text-align: center;
}
.card-central-page{
margin-top: 32px;
margin-bottom: 16px;    
width: 90%;
height: auto;
background: #F9F8F8;
box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.25);
border-radius: 20px;

display: flex;
justify-items: center;
justify-content: center;
align-items: center;
flex-direction: column;
text-align: center;

padding: 24px;
}

.div-multim-cad{
  //background: blue;
  //display: flex;
  //flex-wrap: column;
  //flex-direction: row;
/* justify-items: space-between;
align-items: space-between;
    justify-content: space-between; */
    text-align: center;
    padding: 24px;
    width: 100%;
}
.title-card{
    width: 100%;
height: auto;
    font-family: $font-nunito;
    font-style: normal;
    font-weight: 400;
    font-size: 56px;
    line-height: 76px;
    text-align: center;
    
    /* Gray-scale/gray-700 */
    
    color: $color-gray;
    margin-top: 24px;
    margin-bottom: 0;
}
.p-text-card{

width: 100%;
height: auto;


font-family: $font-montserrat;
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 27px;
/* or 150% */
text-align: center;

/* Gray-scale/gray-600 */
color: $color-gray;

}
.subtitle-card{

}

.span-title-card{
    font-family: $font-nunito;
font-style: normal;
font-weight: 400;
font-size: 56px;
line-height: 76px;
text-align: center;
color: $color-orange;
margin-left: 15px;
}

.h3-card{

width: 100%;
height: auto;


font-family: $font-nunito;
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 27px;
/* or 84% */
color: $color-gray-h3;
margin-top: 32px;
margin-bottom: 32px;
}
.div-calendar-card{
   // background: red;
    flex-direction: column;
justify-items: space-between;
align-items: space-between;
    justify-content: space-between;
    text-align: center;
    margin-top: 32px;
    margin-bottom: 32px;
}

.div-image-card{
   //background: violet;
    text-align: center;
    padding: 0;
    width: 100%;
    height: auto
}
.div-container-text-card{
    //background: brown;
    width: 100%;
    height: auto;
    padding: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.div-container-buttons-card{
    width: 80%;
    height: 95px;
    //background: orange;
    display: flex;
    flex-direction: row;
    
    justify-content: space-around;
    padding:0px;
    margin-top: 0px;
    
}

.columna-de-prueba{

    //background: grey;
    width: 100%;
    height: auto;
    padding-top: 0px;
    
}

.div-container-input-card{
    //background: blue;
    display: flex;
    justify-content: center;
    padding: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.lottie-pages{
    width: 10px;
}
.div-container-lottie-card{
    text-align: center;
    align-items: center;
    width: 100%;
   // background: mediumaquamarine;
    height: 300px;
    margin-bottom: 0px;

}


 /*Estilos contenedor de botones de pages */

 .div-container-buttons-pages-card{
    width: 100%;
    height: auto;
    //background: orange;
    display: flex;
    flex-direction: row;
    
    justify-content: space-around;
    padding:0px;
    margin-top: 0px;

}
//Estilos forms de pages
.form-pages-cards-inputs{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;;
}