
//fonts
$font-nunito: 'Nunito', sans-serif;
$font-montserrat: 'Montserrat', sans-serif;

//Colors-fonts

$color-orange: #EBA53D;
$color-gray:#757575;
$color-black:#1A1A1A;
$color-green: #6ABF4B;
$color-yellow: #FFD66D;
$color-white: #FFFFFF;


$color-span-primary: #EBA53D;
$color-text-card: #757575;


//font size cards
$size-normal: 32px;